@{
    ViewBag.Title = "Home Page";
}
<body class="cover" style="background-image: url(/assets/img/loginFont4.jpg);">
    <a href="~/Login/Login" style="color:black">
        <center>
            <div style="color:saddlebrown">
                <h2>Bienvenido </h2>
                <h2>Financial Control</h2>
               

            </div>
            <span style="font-size:60px;">
                <span ><span style="color:white;"> Financial</span> <span style="color:black;">Control</span></span>
            </span>
            <h4 style="color:white">Pulsa continuar ...</h4>
        </center>  
    </a>
</body>