
@{
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>
<form action="/usuario/guardar" method="post">

    <div class="form-group">
        <label>Nombre</label>
        <input name="Nombre" class="form-control" />
    </div>
    <button class="btn-group">Guardar</button>
    
</form>